* {
    box-sizing: border-box;
}
body {
    border: 1px solid black;
    margin: 0;
    text-align: center;
}
img {
    display: block;
}
.container {
    border: 1px solid blue;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    /* font-family: comfortaa ; */
    font-family: nunito ;
}
.hero-img {
    margin-left: auto;
    margin-right: auto;
}
.action button {
    padding: 8px;
    border-radius: 15px;
}
.action button:hover {
    cursor: pointer;
}
.action {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.point {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
}
.point .player-point,.pc-point {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.point .player-title {
    font-size: 30px;
}

.player-total {
    font-size: 40px;
}
.pc-total {
    font-size: 40px;
}
.total {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 30px;
}
.played {
    font-size: 40px;
}
.reset {
    margin-top: 30px;
    width: 150px;
    height: 40px;
    border-radius: 15px;
    font-size: 20px;
    font-family: nunito ;
    cursor: pointer;
}

.selections {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}
.player-indicator, .pc-indicator {
    display: flex;
    flex-direction: column ;
    font-size: 25px;
}

#player-choice, #pc-choice {
    display: flex;
    margin-top: 20px;
    padding: 8px;
    border-radius: 8px;
    transition: all 1s ease-in-out;
    /* background-color: rgb(241, 241, 217); */
    /* background-color: rgb(103, 203, 103);
    background-color: rgb(227, 132, 132); */
}
.selections img {
    transition: all 1s ease-in-out;
    opacity: 0.1;
}